@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
h1,
span {
  font-family: "Bebas Neue", cursive;
}

:root {
  --primary-color: #e60965;
  --secondary-color: #f94892;
  --third-color: #ffa1c9;
  --text-color: #000;
}

/* Logo CSS */
._logo {
  font-weight: 700;
  font-size: 1.5rem !important;
  color: var(--secondary-color) !important;
}
._logo img {
  width: 40px;
}
/* Navbar Customize CSS */
._navbar {
  position: fixed;
  z-index: 999;
}
._navbar-nav li {
  margin-left: 2rem !important;
}
._navbar-nav li a {
  color: #222 !important;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 5px;
}
._navbar-nav li a:hover {
  color: var(--primary-color) !important;
  transition: ease 0.3s;
}

.navbar .navbar-collapse {
  text-align: center;
}
.nav-item {
  margin: 1rem;
}

/* Slider */
