@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #e60965;
  --secondary-color: #f94892;
  --third-color: #ffa1c9;
  --text-color: #000;
}
.section-padding {
  margin-top: 5rem;
}
/* Logo CSS */
._logo {
  font-weight: 700;
  font-size: 1.5rem !important;
  color: var(--secondary-color) !important;
}
._logo img {
  width: 40px;
}
/* Navbar Customize CSS */
._navbar-nav li {
  margin-left: 2rem !important;
}
._navbar-nav li a {
  color: #222 !important;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 5px;
}
._navbar-nav li a:hover {
  color: var(--primary-color) !important;
  transition: ease 0.3s;
}

.navbar .navbar-collapse {
  text-align: center;
}
.nav-item {
  margin: 1rem;
}

/* Our Pakege Card CSS =======>> */
#card_li {
  list-style: none;
  padding: 0 !important;
}
#card_li li::before {
  content: "✓ ";
}
._card h1,
h3 {
  color: #e60965;
}
._card a {
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
}
#special_card {
  background-color: lightgray;
  padding: 1rem;
  border-radius: 10px;
}
#special_card a {
  background-color: var(--primary-color);
  color: #fff;
}
/* Slider */
@media screen and (max-width: 767px) {
  .slider_text h1 {
    font-size: 1.2rem;
  }
  .slider_text p {
    font-size: 10px;
    width: 50%;
    margin-left: 8rem;
  }
  .slider_text a {
    font-size: 10px;
  }
}
